<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Bootstrap -->
    	<link
      	rel="stylesheet"
      	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      	crossorigin="anonymous"
   		 />
		<!-- Font Awesome -->
    	<link
      	rel="stylesheet"
      	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      	crossorigin="anonymous"
    	/>
		<!-- google font -->
		<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
		{{!-- favicon.ico --}}
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<title>ScyScraper</title>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#" id="sitename">ScyScraper</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
        			<a class="nav-link" action="/scrape" method="GET" href="/scrape" id="refresh-articles">Scrape Articles</button></a>
      			</li>
	  			<li class="nav-item">
        			<a class="nav-link" href="/" id="all-articles">All Articles</a>
      			</li>
				<li class="nav-item">
        			<a class="nav-link" href="/saved" id="saved-articles">Saved Articles</a>
      			</li>  
    		</ul>
    		<form class="form-inline my-2 my-lg-0" action="/search" method="POST">
      			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-input">
      			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-submit">Search Articles</button>
    		</form>
  		</div>
	</nav>
	{{!-- <header>
		<a href="/"><div id="sitename">ScFy Scraper</div></a>
		<a href="/"><button id="all-articles">All Articles</button></a>
		<a href="/saved"><button id="saved-articles">Saved Articles</button></a>
		<form action="/scrape" method="GET">
			<button type="submit" id="refresh-articles">Scrape For Articles</button>
		</form>
		<form action="/search" method="POST">
			<button type="submit" id="search-submit">Submit</button>
			<input type="text" name="search" placeholder="Search for articles" id="search-input">
		</form>
	</header> --}}
	<img id="cover" src="/assets/images/cover.jpg" height="500px">
	<div id="container">
		{{{ body }}}
	</div>
	
	<script src="/assets/javascript/app.js"></script>

	<div id="addnote">
		<div id="note-displayer">
			<h2>Note</h2>
			<h3>Article: <span id="article-title"></span></h3>
			<div id="note">
				<label for="note-title">Title</label><br>
				<input type="text" placeholder="Title" name="title" id="note-title"><br>
				<label for="note-body">Note</label><br>
				<textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
				<button type="submit" id="add-note">Save Note</button>
				<button type="button" id="close-note">Cancel</button>
			</div>
		</div>
	</div>
	
	<script src="/assets/javascript/app.js"></script>
</body>
</html>